h1 {
    text-align: center;
    color: white;
}

.add-todo {
    text-align: center;
}

.add {
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    margin: 0.5rem 1rem !important;
    text-align: center;
    margin: 0 1rem;
}

.add:focus {
    outline: none;
    box-shadow: 1px 1px 16px white;
}

.btn {
    width: 4rem;
    background: #E02CF5;
    color: white;
    font-weight: bold;
}

@media all and (max-width: 300px) {

    .add {
        width: 100%;
    }
}